<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?movies);">
  <div class="container">
    <h1><strong><%= @list.name%></strong></h1>
  </div>
</div>

<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
  <% @movies.each do |movie| %>
    <h5 class="card-title"><%= movie.title %></h5>
    <p class="card-text"><%= movie.overview %></p>
    <p class="card-text"><small class="text-muted"><%= movie.rating %>></small></p>
    <% end %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="..." class="card-img-bottom" alt="...">
</div>
